body {
    margin: 0;
}

div {
    width: 200px;
    height: 200px;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
    position: relative;
    left: 200px;
}

.red {
    background-color: red;
    position: relative;
    left: 400px;
}
